
# DB configuration
DB_HOST=db        # Don't change.  db is the name of the Docker service set in docker-compose.yml
DB_USER=postgres  # Use custom name or leave as "postgres"
DB_NAME=phylobook # Use custom name or leave as "phylobook"
DB_PASS=          # Add a secure password for the database

