
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_content %}
    <br>
    <br>
    <div  class="row justify-content-center">
      <div  class="reg-dialog">
        <div  class="card">
            <div  class="card-body text-center">
            <h4  class="card-title"> Password changed <span style="color: green;">successfully</span>!</h4>
            </div>
        </div>
      </div>
    </div>
    <script>
        $(function () {
          setTimeout(function() {
            window.location.replace("/projects");
          }, 5000);
        });
    </script>
{% endblock %}