.app-container{
    min-width: 883px;
}
.titlefont {
    font-family: 'Josefin Sans', sans-serif;
}
.titleimg {
    height: 50px !important;
    width: 50px !important;
}
.headernav {
    margin-top: 10px;
    margin-bottom: 10px;
}
.highlighterdoc {
    font-size: .75rem;
}
.dropdown-menu {
    font-size: .85rem;
}
.reg-dialog {
    width: 600px;
}
.btn:focus {
    outline: none;
    box-shadow: none;
}
.disabled {
    cursor: not-allowed;
}
a, a:hover,a:visited, a:focus {
    text-decoration:none;
}
.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.tree {
    size: 100%;
    border: 2px solid;
    padding: 4px;
    margin: 4px;
    min-width: 980px;
}
.editedhighlight {
    border: 4px solid;
    border-color: red;
}
.seqcolor{
    font-size: 14px;
}
.clustercolor{
    font-size: 14px;
}
.triangle {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid #555;
}
.images {
    size: 100%;
    overflow-x: scroll;
    border: 1px solid lightgray;
    padding: 4px;
    margin: 4px;
}
.imgparent {
    white-space: nowrap;
    height: 200px;
}
.svgimage {
    display: inline-block;
    height: 100%;
}
svg {
    font-size: 8px !important;
    height: 100% !important;
    width: 100% !important;
}
.highlighter {
    display: inline-block;
    height: 100%;
    position: relative;
}
img {
    width: 100%;
    height: 100%;
}
.magnifybar {
    margin: 0 auto;
    width: 200px;
}
/* Context menu */
#context-menu, #context-menu-circle {
    position: fixed;
    z-index: 10000;
    width: 150px;
    background: #bfbdbd;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    /* border-radius: 5px; */
    transform: scale(0);
    transform-origin: top left;
}

#context-menu.visible, #context-menu-circle.visible {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

#context-menu .item, #context-menu-circle .item {
    padding: 8px 10px;
    font-size: 15px;
    color: #eee;
    cursor: pointer;
    border-bottom: 1px solid black;
    border-radius: inherit;
}

#context-menu .item:hover, #context-menu-circle .item:hover {
    opacity: 1.0;
    background: #c7c9c9
}

.dot {
    height: 16px;
    width: 16px;
    /* background-color: #bbb; */
    border-radius: 50%;
    display: inline-block;
    pointer-events:none;
}

.rectangle {
    height: 16px;
    width: 30px;
    margin:auto;
    display: inline-block;
    vertical-align: middle;
    pointer-events:none;
    background-color: transparent !important;
}

/* Colors for annotating the SVG */
.Yellow {
    background-color: #efe645;
    border: 1px solid #efe645;
}
.Red {
    background-color: Red;
    border: 1px solid Red;
}
.Neonblue {
    background-color: #537eff;
    border: 1px solid #537eff;
}
.Green {
    background-color: #00cb85;
    border: 1px solid #00cb85;
}
.Orange {
    background-color: orange;
    border: 1px solid orange;
}
.Pink {
    background-color: #e935a1;
    border: 1px solid #e935a1;
}
.Lightblue {
    background-color: #00e3ff;
    border: 1px solid #00e3ff;
}
.Black {
    background-color: black;
    border: 1px solid black;
}
.Gray {
    background-color: gray;
    border: 1px solid gray;
}
.Purple {
    background-color: purple;
    border: 1px solid purple;
}

.Apricot {
    background-color: #FFD8B1;
    border: 1px solid #FFD8B1;
}
.Lime {
    background-color: #BFEF45;
    border: 1px solid #BFEF45;
}
.Olive {
    background-color: #808000;
    border: 1px solid #808000;
}
.Navy {
    background-color: #000075;
    border: 1px solid #000075;
}
.Lavender {
    background-color: #DCBEFF;
    border: 1px solid #DCBEFF;
}
.Maroon {
    background-color: #800000;
    border: 1px solid #800000;
}

.slider-range {
    /* background-image: linear-gradient(to right, yellow , red); */
    /* background-image: linear-gradient(to right, yellow , blue); */
    background-image: linear-gradient(to right, rgb(255, 165, 0), rgb(255, 255, 0), rgb(0, 255, 0), rgb(0, 0, 255), rgb(238, 130, 238));
    width: 300px;
    height: 10px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 1.0 !important;
}

.slider-range-legend {
    background-image: linear-gradient(to right, rgb(255, 165, 0), rgb(255, 255, 0), rgb(0, 255, 0), rgb(0, 0, 255), rgb(238, 130, 238));
    width: 300px;
    height: 10px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 1.0 !important;
}

.hide {
    display: none;
}

/* extract dialog */
.custom-radio-button div {
  display: inline-block;
}
.custom-radio-button input[type="radio"] {
  display: none;
}
.custom-radio-button input[type="radio"] + label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.custom-radio-button input[type="radio"] + label span {
  display: inline-block;
  width: 30px;
  height: 16px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
/*   border-radius: 50%; */
  border: 2px solid #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 30px;
}
.custom-radio-button input[type="radio"] + label span img {
  opacity: 0;
  transition: all 0.3s ease;
}
.custom-radio-button input[type="radio"]#extractred + label span {
    border-color: Red;
    border: 1px solid Red;
}
.custom-radio-button input[type="radio"]#extractyellow + label span {
    border-color: #efe645;
    border: 1px solid #efe645;
}
.custom-radio-button input[type="radio"]#extractpink + label span {
    border-color: #e935a1;
    border: 1px solid #e935a1;
}
.custom-radio-button input[type="radio"]#extractlightblue + label span {
    border-color: #00e3ff;
    border: 1px solid #00e3ff;
}
.custom-radio-button input[type="radio"]#extractorange + label span {
    border-color: orange;
    border: 1px solid orange;
}
.custom-radio-button input[type="radio"]#extractneonblue + label span {
    border-color: #537eff;
    border: 1px solid #537eff;
}
.custom-radio-button input[type="radio"]#extractgreen + label span {
    border-color: #00cb85;
    border: 1px solid #00cb85;
}
.custom-radio-button input[type="radio"]#extractblack + label span {
    border-color: black;
    border: 1px solid black;
}
.custom-radio-button input[type="radio"]#extractgray + label span {
    border-color: gray;
    border: 1px solid gray;
}
.custom-radio-button input[type="radio"]#extractpurple + label span {
    border-color: purple;
    border: 1px solid purple;
}
.custom-radio-button input[type="radio"]#extractapricot + label span {
    border-color: #FFD8B1;
    border: 1px solid #FFD8B1;
}
.custom-radio-button input[type="radio"]#extractlime + label span {
    border-color: #BFEF45;
    border: 1px solid #BFEF45;
}
.custom-radio-button input[type="radio"]#extractolive + label span {
    border-color: #808000;
    border: 1px solid #808000;
}
.custom-radio-button input[type="radio"]#extractnavy + label span {
    border-color: #000075;
    border: 1px solid #000075;
}
.custom-radio-button input[type="radio"]#extractlavender + label span {
    border-color: #DCBEFF;
    border: 1px solid #DCBEFF;
}
.custom-radio-button input[type="radio"]#extractmaroon + label span {
    border-color: #800000;
    border: 1px solid #800000;
}
.custom-radio-button input[type="radio"][disabled] + label span::before {
  content: '\2715';
  font-size: 14px;
  color: lightgray;
  vertical-align: middle;
}
.custom-radio-button input[type="radio"][disabled] + label span {
    line-height: 14px !important;
}
.custom-radio-button input[type="radio"]:checked + label span {
  opacity: 1;
  content: '\2713';
  /*background: url("https://www.positronx.io/wp-content/uploads/2019/06/tick-icon-4657-01.png")
    center center no-repeat; */

  width: 60px;
  height: 32px;
  display: inline-block;
}
.custom-radio-button input[type="radio"]:checked + label span::before {
  content: '\2713';
  font-size: 28px;
  vertical-align: middle;

}
#seqbox {
    font-size: 10px;
    font-family: monospace;
    white-space: pre;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 300px;
    width: 100%;
    resize: none; /* Remove this if you want the user to resize the textarea */
}
/* end extract dialog */
.hidden {
    opacity: 0.3;
}

.extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
}

.selectrect {
    opacity: 0.2;
}

.selectedtext {
    fill: lightgray !important;
}

.straightedge {
    height: 100%;
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: gray;
    opacity: 0.2;
    width: 2px;
    z-index: 1000;
    cursor: pointer;
}

.projectlink {
    color: #0000ff;
}