<!doctype html>

<html>

    <head>
   		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/all.css' %}" />
    	<link rel="stylesheet" href="{% static 'css/spectrum.css' %}" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/dropzone.css' %}" />
        <link rel="stylesheet" href="{% static 'css/spinner.css' %}" />
        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
        <link rel="stylesheet" href="{% static 'css/jquery-ui.theme.css' %}" />
        <link rel="stylesheet" href="{% static 'css/phylobook.css' %}" />

        <script src="{% static 'script/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'script/jquery-ui.js' %}"></script>
        <script src="{% static 'script/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'script/spectrum.js' %}"></script>
        <script src="{% static 'script/dropzone.js' %}"></script>
        <script src="{% static 'script/spinner.js' %}"></script>
        <script src="{% static 'script/tinymce.min.js' %}"></script>
        <script src="{% static 'script/d3.min.js' %}"></script>

    </head>

    <body>
            <div class="container-fluid">
                <div class="row headernav">
                    <div style="white-space:nowrap; width: 150px;" class="col-auto mr-auto">
                        <div style="display:inline-block;" >
                            <img class="titleimg" src="{% static 'images/phylobook.png' %}" height="50" width="50"/>
                        </div>

                        <div style="display:inline-block; vertical-align: bottom;">
                            <h3 class=titlefont">Phylobook</h3>
                        </div>
                    </div>
<!--
                    <div class="col-auto mr-auto" ><img class="titleimg" src="{% static 'images/phylobook.png' %}" height="50" width="50"/> <h4 class=titlefont">Phylobook</h4></div>
-->
                    <div class="col-auto">{{ user.username }} {% if user.is_authenticated %} {% if request.user.is_staff %} (<a href="/admin">Admin</a>) {%endif %}&nbsp;&nbsp;&nbsp;<a href="{% url 'logout' %}">Logout</a>{% endif %}</div>
            </div>
        {% block page_content %}{% endblock %}
    </body>
</html>