{% extends "base.html" %}
{% block page_content %}

    <script>
        var token = '{{csrf_token}}';
    </script>

    {% if user.is_authenticated %}
        <input type="hidden" id="project" value="{{ project }}" />
        <div id="context-menu">
            <div id="boxred" class="item"><span class="rectangle Red"></span>&nbsp;&nbsp;Red</div>
            <div id="boxyellow"  class="item"><span class="rectangle Yellow"></span>&nbsp;&nbsp;Yellow</div>
            <div id="boxpink"  class="item"><span class="rectangle Pink"></span>&nbsp;&nbsp;Pink</div>
            <div id="boxlightblue"  class="item"><span class="rectangle Lightblue"></span>&nbsp;&nbsp;Light Blue</div>
            <div id="boxorange"  class="item"><span class="rectangle Orange"></span>&nbsp;&nbsp;Orange</div>
            <div id="boxneonblue"  class="item"><span class="rectangle Neonblue"></span>&nbsp;&nbsp;Neon Blue</div>
            <div id="boxgreen"  class="item"><span class="rectangle Green"></span>&nbsp;&nbsp;Green</div>
            <div id="boxremove"  class="item">Remove</div>
        </div>
        <div id="context-menu-circle">
            <div id="circlered" class="item"><span class="dot Red"></span>&nbsp;&nbsp;Red</div>
            <div id="circleyellow"  class="item"><span class="dot Yellow"></span>&nbsp;&nbsp;Yellow</div>
            <div id="circlepink"  class="item"><span class="dot Pink"></span>&nbsp;&nbsp;Pink</div>
            <div id="circlelightblue"  class="item"><span class="dot Lightblue"></span>&nbsp;&nbsp;Light Blue</div>
            <div id="circleorange"  class="item"><span class="dot Orange"></span>&nbsp;&nbsp;Orange</div>
            <div id="circleneonblue"  class="item"><span class="dot Neonblue"></span>&nbsp;&nbsp;Neon Blue</div>
            <div id="circlegreen"  class="item"><span class="dot Green"></span>&nbsp;&nbsp;Green</div>
            <div id="circleremove"  class="item">Remove</div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-auto align-self-center"><a href="/projects">Projects</a> &gt; <b>{{ project }}</b>&nbsp;({{ entries | length }} trees)</div>
                <div class="col-auto mr-auto align-self-center"><button type="button" id="downloadproject" class="btn btn-outline-primary btn-sm">Download Project Files</button>
                </div>
            </div>
            <div class="row">
                <div class="col-auto mr-auto"><span>Number of sequences color range:&nbsp;&nbsp;</span></div>
            </div>
            <div class="row">
                <div class="col-auto mr-auto text-nowrap">
                    <label for="min">Min(cutoff):</label><input type="number" id="min" name="min" min="1" max="500"  value="2" style="width: 4em">
                    <div id="slider-range"></div>
                    <label for="max">Max(threshold >=):</label><input type="number" id="max" name="max" min="2" max="500" value="50" style="width: 4em">
                    <button type="button"  class="btn btn-outline-secondary btn-sm" id="sequencecolor">Update</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm" id="removesequencecolor">Remove</button>
                </div>
                <div class="col-auto"><button type="button" class="btn btn-outline-primary btn-sm" id="saveall">Save All</button></div>
            </div>
            <div id="saveallprog" class="progress hide">
                <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
        </div>
        <form method="post">
        {% for entry in entries %}
            <div class="tree">
            <h6>{{ entry.uniquesvg }}</h6>
            <div class="notes" id="notes-{{ entry.uniquesvg }}"></div>
            <div class="magnifybar">
                <button type="button" class="fullsize btn btn-outline-secondary btn-sm" id="full-{{ entry.uniquesvg }}"> Full</button>
                <button type="button" class="minsize btn btn-outline-secondary btn-sm"  id="min-{{ entry.uniquesvg }}"> Min</button>
                <button type="button" class="zoomin btn btn-outline-secondary btn-sm"  id="zin-{{ entry.uniquesvg }}"><i class="fas fa-search-plus"></i></button>
                <button type="button" class="zoomout btn btn-outline-secondary btn-sm"  id="zout-{{ entry.uniquesvg }}"><i class="fas fa-search-minus"></i></button>
            </div>
            <div class="images">
                <div class='imgparent' id='{{ entry.uniquesvg }}'>
                   <div class='svgimage'></div>
                   <div class='highlighter'><img src="{{ entry.highlighter }}" /></div>
                </div>
            </div>
            <script type="text/javascript">
               $('#{{ entry.uniquesvg }}').find(".svgimage").load('{{ entry.svg }}');
               $('#notes-' + "{{ entry.uniquesvg }}").load('/projects/note/read/{{ project }}/' + "{{ entry.uniquesvg }}" + ".notes.txt");
            </script>
            </div>
        {% endfor %}
        </form>
        {% else %}
            Permissions failed.
        {% endif %}
{% endblock %}

