{% extends "base.html" %}
{% block page_content %}

{% load static %}
{% load guardian_tags %}
{% get_obj_perms request.user for project_obj as "context_perms" %}
{% comment %} {% if "change_project" in context_perms %} {% endcomment %}
{% if "change_project" in context_perms and not project_obj.edit_locked %}
    <script src="{% static 'script/phylobook_edit.js' %}"></script>
{% endif %}
    <script src="{% static 'script/csvToArray.v2.1.js' %}"></script>
    <script src="{% static 'script/phylobook_view.js' %}"></script>
    <script type="text/javascript">
        var token = '{{csrf_token}}';
        var projectName = '{{ project }}';

        {% if settings.ANNOTATION_COLORS %}
        // Annotation Colors Set
        const annotationColors = [{% for color in settings.ANNOTATION_COLORS %}{{ "{" }}name:"{{ color.name }}", short:"{{ color.short }}", value:"{{ color.value }}"{{ "}" }},
                                  {% endfor %}
        ]
        {% endif %}

        {% if settings.SEQUENCE_ANNOTATION_COLORS %}
        // Sequence Annotation Colors Set (The colors for the texts)
        const sequenceAnnotationColors = [{% for color in settings.SEQUENCE_ANNOTATION_COLORS %}{{ "{" }}name:"{{ color.name }}", value:"{{ color.value }}"{{ "}" }},
                                         {% endfor %}
        ]
        {% endif %}
        
        // Colors used in the gradients
        const gradientColorsHex = ['#FFA500', '#FFFF00', '#00FF00', '#0000FF', '#EE82EE'];
        const gradientColorsRGB = [[255, 165, 0], [255, 255, 0], [0, 255, 0], [0, 0, 255], [238, 130, 238]];

        function dragElement(elmnt) {
            var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
            if (document.getElementById(elmnt.id)) {
                /* if present, the header is where you move the DIV from:*/
                document.getElementById(elmnt.id).onmousedown = dragMouseDown;
            } else {
                /* otherwise, move the DIV from anywhere inside the DIV:*/
                elmnt.onmousedown = dragMouseDown;
            }

            function dragMouseDown(e) {
                e = e || window.event;
                e.preventDefault();
                // get the mouse cursor position at startup:
                pos3 = e.clientX;
                pos4 = e.clientY;
                document.onmouseup = closeDragElement;
                // call a function whenever the cursor moves:
                document.onmousemove = elementDrag;
            }

            function elementDrag(e) {
                e = e || window.event;
                e.preventDefault();

                if ($(e.target).parent() && $(e.target).parent().find(".highlighterimg")[0]) {
                    var parentRect = $(e.target).parent().find(".highlighterimg")[0].getBoundingClientRect();
                    var parentX = parentRect.left;

                    // calculate the new cursor position:
                    pos1 = pos3 - e.clientX;
                    pos2 = pos4 - e.clientY;
                    pos3 = e.clientX;
                    pos4 = e.clientY;
                    // set the element's new position:
                    // move only horizontal
                    // elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
                    var newX = elmnt.offsetLeft - pos1;
                    if ((e.clientX >= parentX - 4) && (e.clientX <= parentRect.width + parentX + 4)) {
                        elmnt.style.left = newX + "px";
                    }
                }
            }

            function closeDragElement() {
                /* stop moving when mouse button is released:*/
                document.onmouseup = null;
                document.onmousemove = null;
            }
        }

        function rgb(r, g, b){
            return ["rgb(",r,",",g,",",b,")"].join("");
        }

        function rbgFromArray(rgb){
            // Function to combine an RBG array into a string directly
            return 'rgb(' + rgb[0] + ',' + rgb[1] + ',' + rgb[2] + ')'
        }

        function pickHex(color1, color2, weight) {
            var p = weight;
            var w = p * 2 - 1;
            var w1 = (w/1+1) / 2;
            var w2 = 1 - w1;
            var rgb = [Math.round(color1[0] * w1 + color2[0] * w2),
                Math.round(color1[1] * w1 + color2[1] * w2),
                Math.round(color1[2] * w1 + color2[2] * w2)];
            return rgb;
        }

        function linearGradient(colors, leftEnd, rightEnd) {
            // Function to recreate a partial gradient.
            // colors = array [[r, b, g], [r, b, g] ... ], leftEnd = int (the left end of the gradient) - 1 to 100, rightEnd = int (the right end of the gradient) - 1 to 100
            let colorSlice = 100 / (colors.length - 1);
            let gradient = '';
            leftEnd -= 1;
            
            for (let color = 0; color < colors.length; color++) { 
                // If the leftEnd is to the right of the next color, or rightEnd is to the left of the previous color skip this color
                if (leftEnd > (color + 1) * colorSlice || rightEnd < 100-((colors.length-color) * colorSlice)) {
                    continue;
                }
                
                // If the left or right ends are exactly on this color add the color as is with no percentage
                if (leftEnd == color * colorSlice || rightEnd == color * colorSlice) {
                    
                    if (gradient) {gradient += ', '}
                    gradient += rbgFromArray(colors[color]);

                    continue;
                }
                
                // If the colorSlice is between the ends add the color as is and figure it's percentage
                if (leftEnd < color * colorSlice && rightEnd > color * colorSlice){
                    let newPercentage = ((color * colorSlice) - leftEnd) / (rightEnd - leftEnd)

                    if (gradient) {gradient += ', '}
                    gradient += rbgFromArray(colors[color]) + ' ' + Math.round(newPercentage * 100) + '%';
                }

                // If the left end is between this color and the next add a calculated color with no percentage
                if (leftEnd > color * colorSlice && leftEnd < (color+1) * colorSlice) {
                    let newColor = pickHex(colors[color], colors[color+1], 1 - ((leftEnd - (color * colorSlice)) / colorSlice));
                    
                    if (gradient) {gradient += ', '}
                    gradient += rbgFromArray(newColor);
                }

                // If the right end is between this color and the next add a calculated color with no percentage
                if (rightEnd > color * colorSlice && rightEnd < (color+1) * colorSlice) {
                    let newColor = pickHex(colors[color], colors[color+1], (((color + 1) * colorSlice) - rightEnd) / colorSlice);

                    if (gradient) {gradient += ', '}
                    gradient += rbgFromArray(newColor);
                }
            }

            return gradient;
        }

        function pickColorFromGradient(colors, location) {
            // Function to get a specific color at a location along the gradient.  
            // colors = array [[r, b, g], [r, b, g] ... ], location = int - 1 to 100
            let colorSlice = 100 / (colors.length - 1);
            
            // If the location is exactly at a color return that color
            if (location % colorSlice == 0){
                return colors[location/colorSlice];
            }
            
            // Step through the colors to find the slice that the location is in
            for (let color = 0; color < colors.length; color++) { 
                // if (color * colorSlice < location  < (color + 1) * colorSlice){
                if (location > color * colorSlice && location  < (color + 1) * colorSlice){
                    // console.log("Color1: " + color + " Value: " + colors[color] + ", Color2: " + (color+1) + " Value: " + colors[color+1]);
                    return pickHex(colors[color], colors[color+1], 1 - ((location % colorSlice) / colorSlice));
                }
            }
        }

        {% if "change_project" in context_perms and not project_obj.edit_locked %}
        // add listener for cluster select
        $(function(){
            $('.cluster-select').on('change', function() {
                var clusterid = $(this).attr("id");

                var id = clusterid.replace("cluster-", "");
                var svg = $("#" + id).find("svg")[0];
                //clear any prior results
                d3.select(svg).selectAll(".cluster").each(function(d, i) {
                    d3.select(this).remove();
                });
                $("#clusterlegend-" + id).html(buildClusterLegend(0));

                var text = $("#" + clusterid + " option:selected").val();
                if (text != "None") {
                    var project = "{{ project }}";
                    showCluster(project, this.value, id);
                }
            });
            $('.addclusterboxes').on('click', function() {
                var clusterid = $(this).attr("id").replace("clusterbtn", "cluster");
                var id = clusterid.replace("cluster-", "");
                var text = $("#" + clusterid + " option:selected").val();
                if (text == "None") {
                    alert("No cluster file selected.  Only manual color label box function is allowed when 'None' is selected.");
                    return;
                }
                if (confirm("This will overwrite any existing label color boxes!  Proceed?")) {
                    var svg = $("#" + id).find("svg")[0];
                    //clear any prior results
                    d3.select(svg).selectAll(".cluster").each(function(d, i) {
                        d3.select(this).remove();
                    });
                    $("#clusterlegend-" + id).html(buildClusterLegend(0));
                    if (text != "None") {
                        var project = "{{ project }}";
                        showCluster(project, $("#" + clusterid).val(), id, true);
                    }
                }
            });

        });
        {% endif %}
    </script>

    {% if user.is_authenticated %}
        <input type="hidden" id="project" value="{{ project }}" />

        <!-- Generic modal for annotations -->
        <div class="modal fade" id="annotations_modal" tabindex="-1" role="dialog" aria-labelledby="annotations" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="annotations_modal_title">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id="annotations_modal_body">
                  Un Testo
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="annotations_close_button">Close</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="annotations_bonus_button">Bonus</button>
                    <button type="button" class="btn btn-primary" id="annotations_modal_button">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        <!-- End annotations modal -->

        <div id="context-menu">
            {% if settings.ANNOTATION_COLORS %}{% for color in settings.ANNOTATION_COLORS %}
            <div id="box{{ color.short }}" class="item"><span class="rectangle {{ color.short|capfirst }}"></span>&nbsp;&nbsp;{{  color.name }}</div>{% endfor %}{% endif %}

            <div id="boxextract"  class="item">Extract</div>
            <div id="boxremove"  class="item">Remove</div>
        </div>
        <div id="context-menu-circle">
            {% if settings.ANNOTATION_COLORS %}{% for color in settings.ANNOTATION_COLORS %}
            <div id="circle{{ color.short }}" class="item"><span class="dot {{ color.short|capfirst }}"></span>&nbsp;&nbsp;{{  color.name }}</div>{% endfor %}{% endif %}

            <div id="circleremove"  class="item">Remove</div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Extract Sequences</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="/" method="POST" id="sequenceform">
                            <input type="hidden" id="seqsid" value="" />
                            <div class="custom-radio-button">
                                
                                {% if settings.ANNOTATION_COLORS %}{% for color in settings.ANNOTATION_COLORS %}
                                <div>
                                    <input type="radio" id="extract{{ color.short }}" name="color" value="extract{{ color.short }}">
                                    <label for="extract{{ color.short }}">
                                      <span>
                                      </span>
                                    </label>
                                      <input type="hidden" id="seqs{{ color.short }}" value="" />
                                </div>
                                {% endfor %}{% endif %}

                              <div>
                                <label for="suffix">
                                  <span>
                                      Add suffix:
                                  </span>
                                </label>
                                <input type="text" id="suffix" name="color" value="" />
                              </div>

                            </div>
                            <div id="seqdownloadbutton">
                                <button id="sequencedownloadbutton" type="submit" class="btn btn-primary">
                                    Extract
                                </button>
                            </div>
                        </form>
                    </div>
                    <textarea id="seqbox" readonly></textarea>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Modal -->

        <div class="container-fluid app-container">
            <div class="row">
                <div class="col-auto align-self-center"><a href="/projects">Projects</a> &gt; <b>{{ project }}</b>&nbsp;({{ entries | length }} trees)</div>
                <div class="col-auto mr-auto align-self-center"><button type="button" id="downloadproject" class="btn btn-outline-primary btn-sm">Download Project Files</button>&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" class="highlighterdoc" href="https://www.hiv.lanl.gov/content/sequence/HIGHLIGHT/help.html">Highlighter plot explanation >></a>
                </div>
            </div>
            {% if "change_project" in context_perms and not project_obj.edit_locked %}
                <div class="row">
                    <div class="col-auto mr-auto"><span>Number of sequences color range (all trees):&nbsp;&nbsp;</span></div>
                </div>
                <div class="row">
                    <div class="col-auto mr-auto text-nowrap">
                        <label for="min">Min(cutoff):</label><input type="number" id="min" name="min" min="1" max="49000"  value="2" style="width: 4em">
                        <div class="slider-range" id="slider-range"></div>
                        <label for="max">Max(threshold >=):</label><input type="number" id="max" name="max" min="2" max="50000" value="50" style="width: 4em">
                        <button type="button"  class="btn btn-outline-secondary btn-sm sequencecolor" id="sequencecolor">Update All</button>
                        <button type="button" class="btn btn-outline-secondary btn-sm removesequencecolor" id="removesequencecolor">Remove All</button>
                    </div>
                    <div class="col-auto"><button type="button" class="btn btn-outline-primary btn-sm disabled" id="extract_all_trees" onclick="project.showDownloadLineagesModal(); return false;" disabled>Extract Lineages for All Trees to File</button></div>
                    <div class="col-auto"><button type="button" class="btn btn-outline-primary btn-sm" id="saveall">Save All</button></div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-auto mr-auto text-nowrap"></div>
                    <div class="col-auto"><button type="button" class="btn btn-outline-primary btn-sm disabled" id="extract_all_trees" onclick="project.showDownloadLineagesModal(); return false;" disabled>Extract Lineages for All Trees to File</button></div>
                </div>
            {% endif %}
            <div id="saveallprog" class="progress hide">
                <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
        </div>
        <form method="post">
        {% for entry in entries %}
            <div id="tree-{{ entry.uniquesvg }}" class="tree">
                <div class="row" style="height: auto;">
                    <div class="col-auto mr-auto text-nowrap ">
                        <div class="d-flex justify-content-start">
                            <h6>{{ entry.uniquesvg }}</h6>&nbsp;
                            <a target="_blank" class="highlighterdoc" href="/projects/files/download/fasta/{{ project }}/{{ entry.uniquesvg }}">Download ordered fasta</a>
                        </div>
                    </div>

                    <div class="col-auto">
                        <div class="d-flex justify-content-start">
                            {% if "change_project" in context_perms and not project_obj.edit_locked %}
                                <a style="white-space: nowrap;" href="#" onclick="showhideColorRange('color-{{ entry.uniquesvg }}', this); return false;" class="seqcolor">Show annotation tools</a>
                                &nbsp;&nbsp;<div><button type="button" class="btn btn-outline-primary btn-sm mb-2 disabled" id="extract_to_file-{{ entry.uniquesvg }}" onclick="downloadLineagesByColor('{{ entry.uniquesvg }}'); return false;" disabled>Assign Lineage Names / Extract to File</button></div>
                                &nbsp;&nbsp;<div><button type="button" class="btn btn-outline-primary btn-sm save disabled" id="save-{{ entry.uniquesvg }}" disabled>Save</button></div>
                                &nbsp;&nbsp;<div><button type="button" onclick="resetTree('{{ entry.uniquesvg }}'); return false;" class="btn btn-outline-primary btn-sm disabled" id="revert-{{ entry.uniquesvg }}" disabled>Revert</button></div>
                            {% else %}   
                            <div><button type="button" class="btn btn-outline-primary btn-sm mb-2 disabled" id="extract_to_file-{{ entry.uniquesvg }}" onclick="downloadLineagesByColor('{{ entry.uniquesvg }}'); return false;" disabled>Extract Lineages to File</button></div>
                                {% if project_obj.edit_locked %}
                                    &nbsp;&nbsp;This project is locked for editing for all users.
                                {% elif "change_project" not in context_perms %}
                                    You do not have edit permission for this project.
                                {% endif %}
                            {% endif %}

                        </div>
                    </div>
                </div>

                <!-- Annotations -->
                <div class="hide"  id="color-{{ entry.uniquesvg }}">

                    <!-- Mark sequences by count of duplicates -->
                    <div class="container border border-dark rounded mt-2 mb-2 p-2 bg-light text-nowrap ">
                        Mark sequences by count of duplicates:
                        <div class="text-nowrap">
                            {% comment %} {% if "change_project" not in context_perms %} {% endcomment %}
                            <label for="min-{{ entry.uniquesvg }}">{% if "change_project" not in context_perms or project_obj.edit_locked %} Sequence count: {% endif %}Min(cutoff):</label><input type="number" class="min" id="min-{{ entry.uniquesvg }}" name="min" min="1" max="49999" value={% if entry.minval %} "{{ entry.minval }}" {% else %} "2" {% endif %} style="width: 4em;" {% if "change_project" not in context_perms or project_obj.edit_locked %} disabled {% endif %}>
                            <div class="slider-range" id="slider-range-{{ entry.uniquesvg }}"></div>
                            <label for="max-{{ entry.uniquesvg }}">Max(threshold >=):</label><input type="number" class="max" id="max-{{ entry.uniquesvg }}" name="max" min="2" max="50000"  value={% if entry.maxval %} "{{ entry.maxval }}" {% else %}"50"{% endif %} style="width: 4em;" {% if "change_project" not in context_perms or project_obj.edit_locked %} disabled {% endif %}>
                            {% if "change_project" in context_perms and not project_obj.edit_locked %}
                            <button type="button"  class="btn btn-info btn-sm sequencecolor" id="sequencecolor-{{ entry.uniquesvg }}">Update</button>
                            <button type="button" class="btn btn-info btn-sm removesequencecolor" id="removesequencecolor-{{ entry.uniquesvg }}">Remove</button>
                            {% endif %}
                            <input type="hidden" class="minval" id="minval-{{ entry.uniquesvg }}" value="{{ entry.minval }}"/>
                            <input type="hidden" class="maxval" id="maxval-{{ entry.uniquesvg }}" value="{{ entry.maxval }}"/>
                            <input type="hidden" class="colorlowval" id="colorlowval-{{ entry.uniquesvg }}" value="{{ entry.colorlowval }}"/>
                            <input type="hidden" class="colorhighval" id="colorhighval-{{ entry.uniquesvg }}" value="{{ entry.colorhighval }}"/>
                            <input type="hidden" class="iscolored" id="iscolored-{{ entry.uniquesvg }}" value="{{ entry.iscolored }}"/>

                            <script>
                            // Slider/colorization functions
                            $( function() {
                                $( "#slider-range-{{ entry.uniquesvg }}" ).slider({
                                    range: true,
                                    {% if "change_project" not in context_perms or project_obj.edit_locked %} disabled: true, {% endif %}
                                    min: 1,
                                    max: 100,
                                    values: {% if entry.colorlowval and entry.colorhighval %} [ {{ entry.colorlowval }}, {{ entry.colorhighval }} ] {% else %} [ 1, 100 ] {% endif %},
                                    create: function( event, ui ) {
                                        // color between rage sliders
                                        var markers=$(this).slider('values');
                                        $( "#slider-range-{{ entry.uniquesvg }} .ui-slider-range" ).css("background-image", "linear-gradient(to right, " + linearGradient(gradientColorsRGB, markers[ 0 ], markers[ 1 ]) + ")");
                                    },
                                    slide: function( event, ui ) {
                                        $( "#slider-range-{{ entry.uniquesvg }} .ui-slider-range" ).css("background-image", "linear-gradient(to right, " + linearGradient(gradientColorsRGB, ui.values[ 0 ], ui.values[ 1 ]) + ")");
                                    }
                                });
                            });
                            </script>
                        </div>
                    </div>

                    <!-- Color sequence names by field -->
                    <div class="container border border-dark rounded mt-2 mb-2 p-2 bg-light text-nowrap hide" id='sequenceAnnotatorContainer_{{ entry.uniquesvg }}'>
                        Color sequence names by field:
                        <div id="sequenceAnnotator_{{ entry.uniquesvg }}"></div>
                    </div>

                    <!-- Color sequence boxes by cluster -->
                    {% if entry.clusterfiles|length > 0 and "change_project" in context_perms %}
                        <div class="container border border-dark rounded mt-2 mb-2 p-2 text-nowrap bg-light">
                            Annotate sequence boxes by cluster:
                            <div class="input-group">
                                <button type="button" class="btn btn-info btn-sm addclusterboxes text-nowrap" id="clusterbtn-{{ entry.uniquesvg }}" >Apply to Labels</button>&nbsp;&nbsp;
                                <label for="cluster-{{ entry.uniquesvg }}">Cluster:&nbsp;</label>
                                <select id="cluster-{{ entry.uniquesvg }}" class="cluster-select form-control form-control-sm rounded" autocomplete="off">
                                        <option value="None" selected="selected">None</option>
                                    {% for cluster in entry.clusterfiles %}
                                        <option value="{{ cluster.file }}">{{ cluster.name }}</option>
                                    {% endfor %}
                                </select>&nbsp;
                            <div id="clusterlegend-{{ entry.uniquesvg }}" class="d-flex align-content-stretch flex-wrap" style="font-size: 14px; max-width: 300px; min-width: 300px;"></div>
                        </div>
                    </div>
                    {% endif %}

                    <!-- Assign lineage names by color -->
                    {% comment %} <div class="container border border-dark rounded mt-2 mb-2 p-2 text-nowrap bg-light">
                        <button type="button" class="btn btn-info btn-sm text-nowrap" id="set_lineage_names-{{ entry.uniquesvg }}"  onclick="setLineagesByColor('{{ entry.uniquesvg }}'); return false;">Assign lineage names by color</button>
                    </div> {% endcomment %}
                        
                    <br>
                </div>
                <!-- End Annotations -->
                
                <!-- Comments -->
                <div class="container border border-primary rounded mt-2 mb-2 p-2 bg-light text-nowrap ">
                    Comments:
                    <div style="width: 50%;" {% if "change_project" in context_perms and not project_obj.edit_locked %} class="notes" {% endif %} id="notes-{{ entry.uniquesvg }}"></div>
                </div>

                <!-- Legend section -->
                <div class="container rounded border border-primary border-2 bg-light w-100 mb-2" id="legends-{{ entry.uniquesvg }}">
                    <div class="row border justify-content-between"><div class="col-4"><b>Legend:</b></div></div>
                    <div class="row">
                        <!-- Sequence Field Legend -->
                        <div class="col">
                            <div class="hide" id="name_colors_by_field_legend_container-{{ entry.uniquesvg }}">
                                Sequence name colors for <span id="name_colors_by_field_legend_field-{{ entry.uniquesvg }}"></span>
                                <div id="name_colors_by_field_legend-{{ entry.uniquesvg }}"></div>
                            </div>
                        </div>
                        <!-- Legend for Duplicates -->
                        <div class="col">
                            <div id="slider-range-legend-container-{{ entry.uniquesvg }}" class="hide">
                                Sequences marked by count of duplicates:<br>
                                <span id="slider-range-legend-min-{{ entry.uniquesvg }}"></span>
                                <div class="slider-range-legend rounded border border-dark" id="slider-range-legend-{{ entry.uniquesvg }}"></div>
                                <span id="slider-range-legend-max-{{ entry.uniquesvg }}"></span>
                            </div>
                            {% if "change_project" in context_perms and not project_obj.edit_locked %}
                                {% if entry.iscolored == "true" %}
                                    <script>
                                        $(document).ready(function() {
                                            setSequenceCountLegend("{{ entry.uniquesvg }}", true);
                                        });
                                    </script>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <!-- Hilighter legend -->
                    <div class="row border align-items-right">
                        <div class="col">
                        {% if entry.tree.ready_to_extract %}
                            <span id="lineage_names_assigned_tag-{{ entry.uniquesvg }}" class="lineage_tag_assigned">Lineage names assigned</span>
                        {% else %}
                            <span id="lineage_names_assigned_tag-{{ entry.uniquesvg }}" class="lineage_tag_unassigned">Lineage names not assigned</span>
                        {% endif %}
                        </div>

                        <div class="col">
                        {% if entry.tree.type == "AA" %}
                            <table><tr>
                            <td>Highlighter key: &nbsp;&nbsp;</td>
                            <td bgcolor=#0000FF> &nbsp;</td><td class="highlighter_legend">His(H) </td>
                            <td bgcolor=#302ECD> &nbsp;</td><td class="highlighter_legend">Asp(D) Glu(E) </td>
                            <td bgcolor=#23659B> &nbsp;</td><td class="highlighter_legend">Lys(K) Asn(N) Gln(Q) Arg(R) </td>
                            <td bgcolor=#2F9A2F> &nbsp;</td><td class="highlighter_legend">Met(M) </td>
                            <td bgcolor=#42FF00> &nbsp;</td><td class="highlighter_legend">Ile(I) Leu(L) Val(V) </td>
                            <td bgcolor=#F900FF> &nbsp;</td><td class="highlighter_legend">Phe(F) Trp(W) Tyr(Y) </td>
                            <td bgcolor=#CD2F2E> &nbsp;</td><td class="highlighter_legend">Cys(C) </td>
                            <td bgcolor=#F9CE2E> &nbsp;</td><td class="highlighter_legend">Ala(A) Gly(G) Ser(S) Thr(T) </td>
                            <td bgcolor=#FBFF00> &nbsp;</td><td class="highlighter_legend">Pro(P) </td>
                            <td bgcolor=#000000> &nbsp;</td><td class="highlighter_legend">Other </td>
                            <td bgcolor=#bebebe> &nbsp;</td><td class="highlighter_legend">Gap </td>
                            </tr></table>
                        {% else %}
                        <table><tr>
                            <td>Highlighter key: &nbsp;&nbsp;</td>
                            <td bgcolor=#42FF00> &nbsp;</td><td class="highlighter_legend">A</td>
                            <td bgcolor=#41B8EE> &nbsp;</td><td class="highlighter_legend">C</td>
                            <td bgcolor=#FFA500> &nbsp;</td><td class="highlighter_legend">G</td>
                            <td bgcolor=#EE0B10> &nbsp;</td><td class="highlighter_legend">T</td>
                            {% comment %} <td bgcolor=#0000FF> &nbsp;</td><td class="highlighter_legend">IUPAC</td> {% endcomment %} 
                            <td bgcolor=#666666> &nbsp;</td><td class="highlighter_legend">GAP</td>
                            <td class="highlighter_legend"><font color="#FF00FF" >&#9679;</font> APOBEC</td>
                            <td class="highlighter_legend">&nbsp;<font color="#FF00FF" >&#9671;</font> G&rarr;A mutation</td>
                            </tr></table>
                        {% endif %}
                        </div>
                    </div>
                </div>
                <!-- End legends section -->

                <div class="magnifybar">
                    <button type="button" class="fullsize btn btn-outline-secondary btn-sm" id="full-{{ entry.uniquesvg }}"> Full</button>
                    <button type="button" class="minsize btn btn-outline-secondary btn-sm"  id="minsize-{{ entry.uniquesvg }}"> Min</button>
                    <button type="button" class="zoomin btn btn-outline-secondary btn-sm"  id="zin-{{ entry.uniquesvg }}"><i class="fas fa-search-plus"></i></button>
                    <button type="button" class="zoomout btn btn-outline-secondary btn-sm"  id="zout-{{ entry.uniquesvg }}"><i class="fas fa-search-minus"></i></button>
                </div>
                <div class="images">
                    <div class='imgparent' id='{{ entry.uniquesvg }}'>
                       <div class='svgimage'></div>
                       <div class='highlighter'>
                           <div id="{{ entry.uniquesvg }}-straightedge" class="straightedge"></div>
                           <img src="{{ entry.highlighter }}" class="highlighterimg" />
                       </div>
                       <div class='matchimage'>
                            <img src="{% static 'images/empty_match.svg' %}" />
                       </div>
                    </div>
                </div>
                <script type="text/javascript">
                    var rect;
                    $('#{{ entry.uniquesvg }}').find(".svgimage").load('{{ entry.svg }}', function() {
                        
                        // Set up the sequenceAnnotator and the treeLineagesCount after the svg loads
                        {% if "change_project" in context_perms and not project_obj.edit_locked %}
                            new sequenceAnnotator({{ "{" }}svgID: "{{ entry.uniquesvg }}"{{ "}" }})
                        {% endif %}

                        new treeLineagesCount({{ "{" }}svgID: "{{ entry.uniquesvg }}"{% if "change_project" not in context_perms or project_obj.edit_locked  %}, downloadOnly: true{% endif %}{{ "}" }})

                        d3.select($("#{{ entry.uniquesvg }}").find("svg")[0])
                            .call(d3.drag()
                                .on("start", function (event, d) {
                                    //console.log('start', "x=" + event.x, "y=" + event.y);
                                    var xScale = this.width.baseVal.value/this.clientWidth;
                                    var yScale = this.height.baseVal.value/this.clientHeight;
                                    var datum = {x: event.x * xScale, y: event.y * yScale};
                                    rect = d3.select(this).append("rect")
                                        .datum(datum)
                                        .attr("x", event.x * xScale)
                                        .attr("y", event.y * yScale)
                                        .attr("height", 0)
                                        .attr("width", 0)
                                        .attr("class", "selectrect");
                                    return false;
                                    })
                                .on("drag", function (event, d) {
                                    var xScale = this.width.baseVal.value/this.clientWidth;
                                    var yScale = this.height.baseVal.value/this.clientHeight;
                                    var x = rect.datum().x;
                                    var y = rect.datum().y;
                                    var newx = event.x * xScale;
                                    var newy = event.y * yScale;
                                    var startx = Math.min(x, newx);
                                    var starty = Math.min(y, newy);
                                    var width = Math.abs(x - newx);
                                    var height = Math.abs(y - newy);
                                    rect.attr("x", startx)
                                        .attr("y", starty)
                                        .attr("width", width)
                                        .attr("height", height);

                                    //console.log('drag', "x=" + x, "y=" + y, "newx=" + newx, "newy=" + newy, "startx=" + startx, "starty=" + starty, "width=" + width, "height=" + height);
                                    })
                                .on("end",  function (event, d) {
                                    var selectedTexts = getMultiSelectedTexts(this, rect);
                                    d3.selectAll(".selectrect").remove();
                                    if (selectedTexts.length > 0) {
                                        currentSVG = this;
                                        showMultiSelectContextMenu(event.sourceEvent.clientX, event.sourceEvent.clientY);
                                    }
                                    //console.log('end drag');
                                    })
                            );
                    });
                    $('#notes-' + "{{ entry.uniquesvg }}").load('/projects/note/read/{{ project }}/' + "{{ entry.uniquesvg }}", function() {
                        {% if "change_project" in context_perms and not project_obj.edit_locked %}
                        if (tinymce.get("notes-" + "{{ entry.uniquesvg }}")){
                            var content = tinymce.get("notes-" + "{{ entry.uniquesvg }}").getContent();
                            if (content.length > 0) {
                                $('#notes-' + "{{ entry.uniquesvg }}").attr("data-mce-placeholder", "");
                                $('#notes-' + "{{ entry.uniquesvg }}").attr("aria-placeholder", "");
                            }
                        }
                        {% endif %}
                    });

                    // Load the match highlighter
                    $('#{{ entry.uniquesvg }}').find(".matchimage").load("match_image/{{ project }}/{{ entry.uniquesvg }}")

                    // Start drag?
                    dragElement(document.getElementById("{{ entry.uniquesvg }}-straightedge"));
                </script>
            </div>
        {% endfor %}
        </form>
        {% else %}
            Permissions failed.
        {% endif %}
{% endblock %}

