{% extends "base.html" %}
{% load static %}

{% block header_content %}
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <script src="{% static 'script/import_project.js' %}"></script>
{% endblock %}

{% block page_content %}
    <div class="container">
        <a href="{% url 'projects' %}">Projects</a><br><br>
        <div class="form-group">
            <label for="outer_project_name">Project Name:</label>
            <input type="text" class="form-control" id="outer_project_name" placeholder="Enter project name...">
        </div>

        <form class="dropzone" id="myDropzone" action="{% url 'import_project' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" id="project_name" name="project_name" value="Testing">
        </form>
        <br>
        <button id="submit-all" type="button" class="btn btn-primary">Upload files</button>
    </div>

    <script type="text/javascript">
        initializeDropzone();
    </script>
{% endblock %}