{% extends "base.html" %}
{% block page_content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/bstreeview.min.css' %}" />
<script src="{% static 'script/bstreeview.min.js' %}"></script>

<script>
$( document ).ready(function() {
    var projects = [{% include "projects_tree_js.html" %}]

    $('#tree').bstreeview({
    data: projects,
    expandIcon: 'fa fa-angle-down fa-fw',
    collapseIcon: 'fa fa-angle-right fa-fw',
    indent: 1.25,
    parentsMarginLeft: '1.25rem',
    openNodeLinkOnNewTab: false
    });
});
</script>            
    
<br>
    <div class="container">
        <div class="table-responsive">
            {% if noaccess %}
                <div class="alert alert-danger" role="alert">
                    You don't have permission to access {{ noaccess }}.
                </div>
            {% endif %}
            <a href="{% url "import_project" %}" type="button" class="btn btn-primary" >Upload New Project</a><br>
            <b>Projects</b>
            <div id="tree"></div>
        </div>
    </div>
{% endblock %}
