
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_content %}
    <br>
    <br>
    <div  class="row justify-content-center">
      <div  class="reg-dialog">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title titlefont">Log in to your account</h4>
            {% if settings.LOGIN_TYPE == "dual" %}
              <a href="/saml/login?next=/projects">{{ settings.LOGIN_SSO_TITLE }}</a>
              <br/><br/>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or &nbsp;
              <br/><br/>
              {{ settings.LOGIN_SSO_COLLABORATOR_TITLE }}
              <br/>
            {% endif %}
              <form method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
                <br>
                <a href="/password_reset">Forgot password?</a>
              </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}