<!doctype html>

<html>

    <head>
   		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />

        {% load static %}
        <link rel="icon" href="{% static 'favicon.ico' %}"/>
        <link rel="stylesheet" href="{% static 'css/all.css' %}" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
        <link rel="stylesheet" href="{% static 'css/jquery-ui.theme.css' %}" />
        <link rel="stylesheet" href="{% static 'css/phylobook.css' %}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

        <script src="{% static 'script/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'script/jquery-ui.js' %}"></script>
        <script src="{% static 'script/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'script/tinymce.min.js' %}"></script>
        <script src="{% static 'script/d3.min.js' %}"></script>
        <script src="{% static 'script/phylobook_status.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

        <!-- Set up JS stuff that needs to run at start -->
        <script>
            $(document).ready(function() {
                window.processStatus = new processStatus();
                window.processStatus.update();
                setInterval(window.processStatus.update, {{ settings.NOTIFICATION_UPDATE_INTERVAL }});
            });
        </script>

        {% block header_content %}{% endblock %}
        
        <title>Phylobook</title>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row headernav">
                <div style="white-space:nowrap; width: 150px;" class="col-auto mr-auto">
                    <div style="display:inline-block;" >
                        <img class="titleimg" src="{% static 'images/phylobook.png' %}" height="50" width="50"/>
                    </div>

                    <div style="display:inline-block; vertical-align: bottom;">
                        <h3 class=titlefont">Phylobook</h3>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <div class="col-auto">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% if user.has_usable_password == False or user.has_usable_password == None %} disabled{% endif %}>
                            {{ user.username }}
                            </button>
                            {% if user.has_usable_password %}
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="/password_change">Change Password</a>
                            </div>
                            {% endif %}
                        </div>
                        <span id="processNotification"></span>
                        {% if request.user.is_staff %} (<a href="/admin">Admin</a>) {%endif %}&nbsp;&nbsp;&nbsp;
                        {% if settings.LOGIN_TYPE == "local" or settings.LOGIN_TYPE == "dual" %}
                            {% if user.has_usable_password == False or user.has_usable_password == None %}
                                <a href="/saml/logout?next=/login">Logout</a>
                            {% elif user.has_usable_password %}
                                <a href="/logout?next=/login">Logout</a>
                            {% endif %}
                        {% elif settings.LOGIN_TYPE == "sso" %}
                            <a href="/saml/logout">Logout</a>
                        {% endif %}
                    </div>
                {% endif %}
        </div>
        {% block page_content %}{% endblock %}

        <!-- Modal for import notifications -->
        <div class="modal fade" id="processModal" tabindex="-1" role="dialog" aria-labelledby="processes" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="processModalTitle">Fasta Imports</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id="processModalBody">
                    Processes
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="processCloseButton">Close</button>
                    <button type="button" class="btn btn-primary" id="processModalRefreshButton">Refresh</button>
                </div>
              </div>
            </div>
          </div>
    </body>
</html>